//////////////////////////////////////////
/// 1. Patrones de Colores
//////////////////////////////////////////
$principal: #39A900;
$secundario: #c4c4c4;

//////////////////////////////////////////
/// 2. Modificando variables de Bootstrap
//////////////////////////////////////////
$primary: $principal;
$secondary: $secundario;
$enable-shadows: true;
$enable-gradients: true;
* {
    box-sizing: border-box;
}

/*Cajas*/
.caja1 {
    padding-top: 10px;
    padding-right: 0px;
}
.caja2 {
    margin-top: 20px;
}
.caja3 {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0px;
    margin-right: 0px;
}

.borde {
    border-radius: 5px;
    border: 2px black solid;
}
.borde2 {
    border: 2px black solid;
}

/**/
.alto1 {
    height: 335px;
}
.alto2 {
    height: 250px;
}
.alto3 {
    height: 250px;
}
.alto4 {
    height: 100px;
}
.alto5 {
    height: 100px;
}
.imagen {
    width: 200px;
    padding: 10px;
}

/*Fondos*/
.fondo1 {
    background-color: rgb(190, 188, 188);
    border: 2px black solid;
}
.fondo2 {
    background-color: rgb(39, 39, 39);
    border: 2px black solid;
}

h5 {
    text-align: center;
    padding: 5px;
}
.boton {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8rem;
    border: 1px #C4C4C4 solid;
    background-color: lightgray;
    color: black;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 35px;
    padding-right: 35px;
    font-size: 20px;
    border-radius: 20px;
    margin-left: 27px;
    opacity: 1;
    transition: 0.5s;
}

.boton:hover {
    border: 1px #39A900 solid;
    background-color: #54fa01;
    color: rgb(28, 28, 28);
}
.boton1 {
    border-radius: 5px;
}
.boton1:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #39A900;
    color: rgb(254, 254, 254);
    border-radius: 5px;
    padding: 0px;
    height: 100%;
}
.espacio {
    padding-top: 25px;
}

/*Divididor*/
.divididor {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/*Animaciones puras*/
.anima {
    transition: transform .2s;
}

.anima:hover {
    transform: scale(1.20);
}

.animaNotify {

}

.animaNotify:hover {
    animation: swing; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 1s; /* don't forget to set a duration! */
}

/*estilos plantilla proyecto*/
.masthead {
    padding-top: calc(6rem + 74px);
    padding-bottom: 6rem;
  }
  .masthead .masthead-heading {
    font-size: 2.75rem;
    line-height: 2.75rem;
  }
  .masthead .masthead-subheading {
    font-size: 1.25rem;
  }
  .masthead .masthead-avatar {
    width: 15rem;
  }

/*Fondo proyecto*/
  .fondoProyecto{
    background-image: url(assets/proyecto001/fondo.jpg);
    background-position: center;
    opacity: .9;
  }
  
  @media (min-width: 992px) {
    .masthead {
      padding-top: calc(6rem + 104px);
      padding-bottom: 6rem;
    }
    .masthead .masthead-heading {
      font-size: 4rem;
      line-height: 3.5rem;
    }
    .masthead .masthead-subheading {
      font-size: 1.5rem;
    }
  }
/*Medias*/

@media only screen and (min-width: 260px) and (max-width: 768px){
    .boton1 {
        border-radius: 5px;
        transition: .5s;
    }
    .boton1:hover {
        display: block;
        background-color: #39A900;
        color: rgb(255, 255, 255);
        border-radius: 5px;
        padding: 10px;
        height: 80%;
    }
}
@import "./node_modules/bootstrap/scss/bootstrap.scss";

